<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${mensaje}"></p>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
<!--                <td th:text="${usuario.usuario}"></td>-->
<!--                <td th:text="${usuario.contraseña}"></td> -->

                <td th:text="${usuario.getUsuario()}"></td>
                <td th:text="${usuario.getContraseña()}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>

